@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #fff;
    --text-color: #111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111;
        --text-color: #fff;
    }
}

body {
    margin: 0;
    font-family: "Fira Code", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    @apply font-bold;
}

h1 {
    @apply text-xl;
}

h2 {
    @apply text-lg;
}

.container {
    @apply p-4 max-w-5xl;
}
