@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Fira Code", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

h1,
h2,
h3 {
    @apply font-bold;
}

h1 {
    @apply text-xl;
}

h2 {
    @apply text-lg;
}

.container {
    @apply px-4 py-2 max-w-5xl;
}
