@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: 255, 255, 255;
    --text-color: 0, 0, 0;
}

.dark {
    --bg-color: 0, 0, 0;
    --text-color: 255, 255, 255;
}

body {
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color));
}

*,
*::before,
*::after {
    transition: background-color 0.05s ease-in-out, color 0.025s ease-in-out;
    transition-delay: 0s;
}

body {
    margin: 0;
    font-family: "Fira Code", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    @apply font-bold;
}

h1 {
    @apply text-xl;
}

h2 {
    @apply text-lg;
}

.container {
    @apply p-4 max-w-5xl;
}
